@import '~@angular/material/theming';

@include mat-core();

// Define the default theme (same as the example above).
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);


.accent {
    color: mat-color($accent) !important;
  }

code {
    position: absolute;
    font-size: 20px;
    color: mat-color($primary);
    margin-left: 20px;
  }
  hr{
    border: 3px solid mat-color($primary);
  border-radius: 5px;
  }
  .table th, .table td {
    padding: 0.5em;
}
.right {
    float: right;
}
.terminal {
    border-radius: 8px;
    width: 7.5em;
    text-align: center;
    background-color: green;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}