

@import '~@angular/material/theming';

@include mat-core();

// Define the default theme (same as the example above).
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);


.primary {
  color: mat-color($primary) !important;
}

.accent {
    color: mat-color($accent) !important;
  }

  .draft{
    color: brown;
  }
  .terminal {
    color: green;
  }

  #notif {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.available {
  color: mat-color($primary) !important;
}
.pending {
  color: red;
}


tbody {
  display:block;
  height:300px;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}

thead {
  width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
