
@import '~@angular/material/theming';

@include mat-core();

// Define the default theme (same as the example above).
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);


.primary {
  color: mat-color($primary) !important;
}

.accent {
    color: mat-color($accent) !important;
  }

.loginBox {
    margin: auto;
    width: 30%;
    margin-top: 0;
}

.example-full-width {
    width: 100%;
}
.center{
    text-align: center;
    padding: 10px 10px 10px 10px;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    min-height: 50px;
    height: auto;
  }

  @media screen and (max-width: 700px) { /* Specific to this particular image */
    .loginBox {
      width: 70%;
    }
    img.logo{
      width: 50%;
    }
  }