.example-full-width {
    width: 100%;
}
.hint{
    color: rgba(0,0,0,.54);
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    display: block;
    font-size: 12px;
  
}  