<div class="container">
  <div class="row justify-content-between" [ngClass]="routeAnimationsElements">
    <div class="col-md-12">
      <h1 class="center-div">Add Document</h1>
      <div class="center-div" [formGroup]="documentForm">
        <mat-card>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Tracking Number" [value]="tracking_number" disabled>
            <mat-hint align="start"><strong>Please make sure to attach the correct tracking number to the actual document</strong> </mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
                <input matInput placeholder="Title" #title formControlName="title" maxlength="250" required>
                <mat-hint align="start"><strong>You may remove any sensitive information (monetary, amounts, names, etc.)
                    from the title if they are not necessary in tracking document
                </strong> </mat-hint>
                <mat-hint align="end">{{title.value.length}} / 250</mat-hint>
              </mat-form-field>
              <mat-form-field  class="example-full-width">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type">
                      <mat-option *ngFor="let type of types" [value]="type.value">
                        {{type.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <label class="example-margin">For:</label>
                  <section class="example-margin"  *ngFor="let control of documentForm.controls.items.controls; let i = index;" [formGroup]="control">
                    <mat-checkbox formControlName="checkbox" id="{{ control.controls.id.value }}">{{control.controls.text.value}}  </mat-checkbox>
                  </section>
                  <mat-form-field class="example-full-width">
                        <input matInput placeholder="Remarks" #remarks formControlName="remarks" maxlength="500" required>
              
                        <mat-hint align="end">{{remarks.value.length}} / 500</mat-hint>
                      </mat-form-field> 
                      <div class="form-group">
                          <label for="single">File (optional)</label><br>
                           
                            <input type="file" class="form-control" accept=".pdf, image/jpg, image/png" formControlName="file" ng2FileSelect [uploader]="uploader" />                                  
      
                            <div *ngIf="uploader.queue.length">
                                <mat-progress-bar mode="determinate" [value]="uploader.progress"></mat-progress-bar>
                              <button mat-stroked-button color="primary" (click)="uploader.uploadAll()"> <mat-icon>cloud_upload</mat-icon> Upload</button>
                            </div>
                            <span class="hint"> <strong>-Allowed Formats: PDF, JPG, PNG - Maximum Size: 10 MB
                                - You can upload larger files via Google Drive and then include the link in the remarks
                            </strong> </span>
        
                          </div> 
                   
                        <section>
                            <br>
                                <button [disabled]="!documentForm.valid"   mat-stroked-button (click)="onDraft()" >Save as Draft </button>
                                <button [disabled]="!documentForm.valid"   mat-stroked-button color="primary" (click)="onFinalize()">Finalize Document </button>
                        </section>
                 

        </mat-card>
      </div>

    </div>


  </div>
</div>