<mat-sidenav-container>

        <mat-sidenav #sidenav mode="push">
            <div class="branding"><img src="assets/logo.png" />
              <span> DA-DTS</span></div>
                <mat-nav-list>
                    <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" 
                    [routerLink]="['/home', item.route]"
                    routerLinkActive="active">
                    {{item.title}}
                  </a>
              </mat-nav-list>
        </mat-sidenav>
       <div class="wrapper">
          <div class="toolbar" style.position="fixed" class.mat-elevation-z4="true">
              <mat-toolbar color="primary">
                <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
                        <mat-icon >menu</mat-icon> 
        
                </button>
        
                <span routerLink="" class="branding spacer center d-inline d-sm-none">
                    <img src="assets/logo.png" /></span>
                <span routerLink="main" class="branding spacer center d-none d-sm-inline d-md-none"><img src="assets/logo.png" /> DA-DTS</span>
                <span routerLink="main" class="branding spacer d-none d-md-inline"><img src="assets/logo.png" /> 
                Document Tracking System</span>
        
                <span class="d-none d-md-inline">
                  <button mat-button class="nav-button" *ngFor="let item of menu" 
                    [routerLink]="[item.route]"
                    routerLinkActive="active">
                    <mat-icon *ngIf="!item.notif">{{item.icon}}</mat-icon>
                    <mat-icon *ngIf="item.notif" matBadge="15" matBadgeColor="warn">{{item.icon}}</mat-icon>
           
                    {{item.title}}
                  </button>
                </span>
        
    
        
        
                <button 
                mat-icon-button
                [matMenuTriggerFor]="toolbarUserMenu">
                <mat-icon >account_circle</mat-icon> 
        </button>
        <mat-menu #toolbarUserMenu="matMenu">
          <button mat-menu-item (click)="onLogoutClick()">
            <mat-icon><mat-icon >toggle_off</mat-icon> </mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      
       
              </mat-toolbar>
            </div>
            <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
                
              <router-outlet #o="outlet"></router-outlet>
              </div>
            <div class="footer">
                <div class="row">
                  <div class="col-sm-12 links">
                    <!-- <a href="" target="_blank">
                      <fa-icon [icon]="['fab','github']"></fa-icon>
                      <span>Github</span>
                    </a>
                    <a href="" target="_blank">
                      <fa-icon [icon]="['fab','medium-m']"></fa-icon>
                      <span>Medium</span>
                    </a>
                    <a href="" target="_blank">
                      <fa-icon [icon]="['fab','twitter']"></fa-icon>
                      <span>Twitter</span>
                    </a>
                    <a href=""
                       target="_blank">
                      <fa-icon [icon]="['fab','youtube']"></fa-icon>
                      <span>Youtube</span>
                    </a>
                    <a href="" target="_blank">
                      <fa-icon [icon]="['fab','instagram']"></fa-icon>
                      <span>Instagram</span>
                    </a>
                    <a href="" target="_blank">
                      <fa-icon icon="play-circle"></fa-icon>
                      <span>Slides</span>
                    </a> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 signature">
                    &#169; <span class="year" data-testid="footer-year">2019</span> - DA Caraga -ICTU
                    <br class="d-block d-sm-none">
             
                  </div>
                </div>
              </div>
      
       </div>
      
      
      
      
      </mat-sidenav-container>
      
      